@page
@model SVC.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
    Layout = "Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="css/gallery.css">
    <link rel="" type="text/js" href="js/gallery.js">
</head>

<main name="main">
    <div class="container">
        <h1 class="text-center">Gallery</h1>

        <div>
            <h3>Albums</h3>
        </div>

        <!-- Example of two gallery instances -->
        <div class="gallery-instance">
            <div class="gallery-container d-flex justify-content-center align-items-center position-relative">
                <div class="gallery position-relative overflow-hidden">
                    @{
                        var images = Model.GalleryService.GetImages("general");
                        for (int i = 0; i < images.Count(); i++)
                        {
                            var image = images.ElementAt(i);
                            <div class="gallery-item position-absolute">
                                <img class="gallery-image" itemid="image-@i" src="@image.Path" />
                                <div class="caption">@image.Description</div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="thumbnail-list d-flex justify-content-center mt-3">
                @{
                    for (int i = 0; i < images.Count(); i++)
                    {
                        var image = images.ElementAt(i);
                        <img class="thumbnail-image mx-2" itemid="thumb-@i" src="@image.Path" style="width: 50px; height: auto; cursor: pointer;" />
                    }
                }
            </div>
        </div>

        <div class="gallery-instance">
            <div class="gallery-container d-flex justify-content-center align-items-center position-relative">
                <div class="gallery position-relative overflow-hidden">
                    @{
                        var images1 = Model.GalleryService.GetImages("triages");
                        for (int i = 0; i < images1.Count(); i++)
                        {
                            var image = images1.ElementAt(i);
                            <div class="gallery-item position-absolute">
                                <img class="gallery-image" itemid="image-@i" src="@image.Path" />
                                <div class="caption">@image.Description</div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="thumbnail-list d-flex justify-content-center mt-3">
                @{
                    for (int i = 0; i < images1.Count(); i++)
                    {
                        var image = images1.ElementAt(i);
                        <img class="thumbnail-image mx-2" itemid="thumb-@i" src="@image.Path" style="width: 50px; height: auto; cursor: pointer;" />
                    }
                }
            </div>
        </div>
        
        <div class="gallery-instance">
            <div class="gallery-container d-flex justify-content-center align-items-center position-relative">
                <div class="gallery position-relative overflow-hidden">
                    @{
                        var images2 = Model.GalleryService.GetImages("pediatric");
                        for (int i = 0; i < images2.Count(); i++)
                        {
                            var image = images2.ElementAt(i);
                            <div class="gallery-item position-absolute">
                                <img class="gallery-image" itemid="image-@i" src="@image.Path" />
                                <div class="caption">@image.Description</div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="thumbnail-list d-flex justify-content-center mt-3">
                @{
                    for (int i = 0; i < images2.Count(); i++)
                    {
                        var image = images2.ElementAt(i);
                        <img class="thumbnail-image mx-2" itemid="thumb-@i" src="@image.Path" style="width: 50px; height: auto; cursor: pointer;" />
                    }
                }
            </div>
        </div>
    </div>
</main>

<script src="js/gallery.js"></script>
