@page
@model SVC.Pages.JoinUsModel
@{
    ViewData["Title"] = "Join Us";
    Layout = "Shared/_Layout.cshtml";
}

<main role="main">
    <div class="container">
        <h1 class="text-center title">
            Join Us
        </h1>
        <p class="">
            At our clinic, we believe in more than just providing monetary benefits; we treat our staff as family members. Our cordial and supportive work environment promotes learning and career growth, ensuring that each team member feels valued and encouraged to thrive. While we offer remuneration at market price, the real reward is living a happy and fulfilling life as part of our community.<span class="br"><hr /></span>
            @if (Model.positionService.GetVacantPositions().Count() == 0)
            {
                <p>No vacancies are currently open.</p>
            }
            else if (Model.positionService.GetVacantPositions().Count() == 1)
            {
                <p>Currently the following vacancy is open:</p>
            }
            else
            {
                <p>Currently the following vacancies are open:</p>
            }
        </p>
        <div class="grid">
        @foreach (var position in Model.positionService.GetVacantPositions())
        {
            <div class="page-container" style="position: relative; width: 75vw;">
                <h2 class="text-center">@position.Title</h2>
                <p class="text-muted">Final date for application: <b>@position.Deadline</b></p>
                
                <b>Working Shift: @position.Shift</b>

                <p>@position.Description</p>

                <hr />

                <div>
                    <h4>Qualifications:</h4>
                    <ul>
                        @foreach (string item in position.Education)
                        {
                        <li>@item</li>
                        }
                    </ul>
                </div>

                <div>
                    <h4>Experience:</h4>
                    <ul>
                        @foreach (string item in position.Experience)
                        {
                        <li>@item</li>
                        }
                    </ul>
                </div>

                <div>
                    <h4>Skills:</h4>
                    <ul>
                        @foreach (string item in position.Skills)
                        {
                        <li>@item</li>
                        }
                    </ul>
                </div>

                <div>
                    <h4>Responsibilites:</h4>
                    <ul>
                        @foreach (string item in position.Responsibilites)
                        {
                        <li>@item</li>
                        }
                    </ul>
                </div>
                <a class="div-link" href="@position.Forms" target="_blank"><span></span></a>
            </div>
        }
        </div>
    </div>
</main>